name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build the Docker image
      run: DOCKER_BUILDKIT=0 docker build --build-arg DB_NAME=$(echo "${{ github.repository }}" | tr '/-' '__') --build-arg DB_USERNAME=${{ github.repository_owner }} --build-arg DB_PASSWORD=${{ secrets.DB_PASSWORD }} --build-arg DB_HOST=${{ secrets.DB_HOST }} . --file Dockerfile --tag git.worldskills.uk/${{ github.repository }}:latest
      
    - name: docker login
      env:
        USER: ${{ secrets.USER }}
        PASS: ${{ secrets.PASS }}
      run: docker login -u $USER -p $PASS git.worldskills.uk
      
    - name: push to docker hub
      run: docker push git.worldskills.uk/${{ github.repository }}:latest
